@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	scrollbar-color: #c1b492 #000;
}

body {
	background-color: black;
	color: #c1b492;
	letter-spacing: 8px;
	font-smooth: never;
	-webkit-font-smoothing: none;
	text-align: center;
	user-drag: none; 
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
	font-family: "Liberation Serif", serif;
}

body,
.container {
	/* Untold amounts of suffering went into putting this rule here */
	min-height: 100vh;
}

#blanker,
#blocker {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
}
#blanker {
	opacity: 1;
	transition: opacity 10s;
	z-index: 3;
	cursor: none;
}
#blanker[data-hidden="true"] {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.125s;
	cursor: auto;
}
#blocker {
	opacity: 0.5;
	transition: opacity 0.125s;
	z-index: 1;
}
#blocker[data-hidden="true"] {
	opacity: 0;
	pointer-events: none;
}

#popup {
	background-color: #000e;
	border: 2px solid #d2738a;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 50%;
	z-index: 2;
	transition: opacity 0.125s;
	opacity: 1;
}
#popup[data-hidden="true"] {
	opacity: 0;
	pointer-events: none;
}
#popup * {
	margin: 10px;
}

img {
	opacity: 0;
	animation: opacity 0.2s ease-in forwards;
	animation-delay: 0.6s;
}

#intro {
	font-weight: normal;
	font-size: 30px;
	letter-spacing: 14px;
	margin-top: 30px;
	margin-bottom: -10px;
}

.jp {
	font-family: monospace;
	font-size: 16px;
	margin-bottom: 50px;
	letter-spacing: 0;
	font-weight: normal;
	/* GNOME Web doesn't render Japanese text properly at all, but oddly, it works fine on the login screen. */
}

.descp {
	margin-top: 0px;
	display: inline-block;
	width: 450px;
	font-size: 10px;
	margin-bottom: 10px;
	text-align: left;
	clear: both;
	text-indent: -79.5px; /* Yes, I know, hardcoding is bad, but it was hardcoded in the original and it's easier than doing it manually. */
	letter-spacing: 4px;
}

.descp:first-line {
	text-indent: 0px;
}

b {
	color: #d2738a;	
	letter-spacing: 8px;
}

hr {
	border-color: #c1b492;
	display: inline-block;
	width: 170px;
	border-style: solid;
	box-shadow: none;
	border-bottom: 0px;
}

a {
	margin-bottom: 140px;
	font-size: 10px;
	text-decoration: none;
	transition: color 0.5s ease-out;
	display: inline-block;
}
a:link,
a:visited {
	color: #d2738a;
}
a:hover {
	color: #c1b492;
}
a:active {
	color: #d2738a;
}

label {
	display: block;
}

input,
select {
	appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	background-color: #dfd5bc;
	height: 18px;
	text-align: center;
	margin-bottom: 12px;
	font-family: monospace;
	transition: background-color 0.5s ease-out;
	width: 170px;
	border: none;
}
input:not([disabled]):focus,
input:not([disabled]):hover,
select:not([disabled]):focus,
select:not([disabled]):hover {
	background-color: white;
	outline: none; /* Anything other than none and default behaves strangely in WebKitGTK, which is a shame */
}
input[disabled],
select[disabled] {
	/* WebKitGTK doesn't let you set the color of text in a disabled input. */
	text-decoration: line-through;
	/* Except, it does, but it only affects the text-decoration. WTF!! */
	color: #000;
}
select {
	background-image: url(assets/arrow.png);
	background-repeat: no-repeat;
	background-position: right;
}

.button {
	color: #dfd5bc;
	background-color: #0000;
	cursor: pointer;
	padding: 2px 4px 2px 12px;
	letter-spacing: 8px;
	transition: color 0.5s ease-out, border-color 0.5s ease-out;
	text-align: center;
	border-radius: 20px;
	border-style: solid;
    border-width: 2px;
	border-color: #dfd5bc;
	line-height: 16px;
}
.button:focus,
.button:hover {
	color: #d2738a;
	border-color: #d2738a;
	outline: none;
}

.darker {
	position: relative;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-image: url(assets/bg_darker.gif);
	animation: darkestDown 80s linear infinite;
}

.dark {
	position: relative;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-image: url(assets/bg_dark_anim_0_08.gif);
	animation: darkest 60s linear infinite;
}

.wiredGang {
	position: relative;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-image: url(assets/wiredGang_04.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	animation: wiredGangAn 20s linear infinite;
}

.opacity {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #0000;
	animation: opacityBg 0.3s linear forwards;
	animation-delay: 0.6s;
}

.opacityContent {
	opacity: 0;
	animation: opacity 1s ease-in forwards;
	animation-delay: 3s;
}

.opacityContent2 {
	opacity: 0;
	animation: opacity 1s ease-in forwards;
	animation-delay: 3.5s;
}

@keyframes darkest {
	from {
		background-position-y: 1024px;
	}
	to {
		background-position-x: -1024px;
	}
}

@keyframes darkestDown {
	from {
		background-position-y: -1024px;
	}
	to {
		background-position-x: 1024px;
	}
}

@keyframes wiredGangAn {
	from {
		background-position-x: 341px;
	}
	to {
		background-position-x: -341px;
	}
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes opacityBg {
	from {
		background-color: rgba(0, 0, 0, 0);
	}
	to {
		background-color: rgba(0, 0, 0, 0.6);
	}
}

@keyframes opacityBG {
	0% { opacity:0; }
	50% { opacity:1; }
	100% { opacity:0; }
}

